<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card text-center loginCard">
        <div class="card-header loginCardHeader">
          Login
        </div>
        <div class="card-block">
          <button class="form-control" style="margin-top:10px; cursor: pointer" (click)="loginWithSequence()">Sequence</button>
          <button class="form-control" style="margin-top:10px; cursor: pointer">Google</button>
          <button class="form-control" style="margin-top:10px; cursor: pointer">Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>
