@import "../../vars";

.loginCard{
  background-color: $lightGreen;
  margin-top:100px;
  border:2px solid $purple;
  color:$lightGreen
}

.loginCardHeader{
  background-color: $darkGreen;
}

.icon{
  width:20px;
  height:20px;
}

.smallNavHolder{
  padding-left:10px;
  padding-right:10px;
}

.navBtn{
  cursor: pointer;
}


