<div>
  <div class="hidden-md-up" style="padding:20px;">
    <div class="card">
      <img class="card-img-top" src="../../../assets/market.jpg" alt="Card image cap"
           style="max-height: 100%; max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Shopping Cart</h4>
        <button class="btn btn-success btn-block" (click)="goToAdd()">Add Item</button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" [ngClass]="{'strike' : !!item.strike}" *ngFor="let item of list"
            (click)="item.strike = !item.strike ">
            <div class="container-fluid no-gutters" style="padding:0px;">
            <div class="row">
              <div class="col-12">{{item.name}}</div>
            </div>
            <div class="row warning" *ngIf="item.warning">
              <div class="col-12">{{item.warning}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

