@import "../../../vars";

.icon-badge{
  height:100px;
  padding-top:15px;
}

.icon-badge-green{
  @extend .icon-badge;
  background-color: $lightGreen;
}

.icon-badge-purple{
  @extend .icon-badge;
  background-color: $purple;
}

.icon-badge-pink{
  @extend .icon-badge;
  background-color: $badgePink;
}


.icon-badge-red{
  @extend .icon-badge;
  background-color: $badgeRed;
}


.icon-badge-yellow{
  @extend .icon-badge;
  background-color: $badgeYellow;
}


.icon-badge-teal{
  @extend .icon-badge;
  background-color: $badgeTeal;
}

