<div>
  <div class="hidden-md-up">
    <div class="card" style="border:none; border-radius: 0px;">
      <img class="card-img-top" src="../../../assets/market.jpg" alt="Card image cap"
           style="max-height: 100%; max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Add Item</h4>
        <input class="form-control" [(ngModel)]="item"/> <button class="btn btn-success btn-block" style="margin-top:10px;" (click)="add()"> Add </button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of getItems()">{{item.name}}</li>
      </ul>
    </div>
  </div>
</div>
