<div class="container-fluid">
  <div class="row" style="padding-top:50px;">

    <app-badge class="col-12 pad-top" color="green" icon="list-ordered" text="List"></app-badge>
    <app-badge class="col-12 pad-top" color="green" icon="list-ordered" text="Diet"></app-badge>
    <app-badge class="col-12 pad-top" color="green" icon="list-ordered" text="List"></app-badge>
    <app-badge class="col-12 pad-top" color="green" icon="list-ordered" text="List"></app-badge>
    <app-badge class="col-12 pad-top" color="green" icon="list-ordered" text="List"></app-badge>


  </div>
</div>

