<div class="container-fluid">
  <div class="row">

    <app-badge class="col-12 col-md-12 pad-top" color="green" icon="list-ordered" text="List" (click)="goTo('list')"></app-badge>
    <app-badge class="col-sm-8 col-md-7 pad-top" color="red" icon="dashboard" text="Calories"></app-badge>
    <app-badge class="col-sm-4 col-md-5 pad-top" color="pink" icon="octoface" text="Allergies"></app-badge>
    <app-badge class="col-sm-6 col-md-6 pad-top" color="yellow" icon="person" text="Seq Files" (click)="goTo('files')"></app-badge>
    <app-badge class="col-sm-6 col-md-6 pad-top" color="teal" icon="gear" text="Settings"></app-badge>


  </div>
</div>

